* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Bubbles', system-ui, sans-serif; /* Added fallback fonts */
    background-color: rgb(155, 201, 158);
}

.main-title {
    font-size: 130px;
    color:rgb(60,97,80); 
}

.family-members-container{
    width: 1000px;
    height: 680px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 30px;
    margin-left: 50px;
    margin-top: 30px;
}

.family-member{
    display:flex;
    width: 450px;
    height: 100px;
    
}

.member-photo{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.member-info{
    font-size:18px;
    color:rgb(60,97,80); 
}

.member-infos{
    position: relative;
    right:-40px;
    width: 200px;

}
.all-rights-text{
    font-size: 25px;
    color:rgb(60,97,80);
    position: relative;
    top:-90px;
    right:-530px;
}

@media(max-width:340px){
    .main-title {
        font-size: 140px;
        
    }
    .family-members-container{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 3 equal columns */
        gap: 260px;
        margin-left: 50px;
        margin-top: 30px;
    }

    .member-photo{
        width: 300px;
        height: 300px;
        border-radius: 10px;
    }
    .all-rights-text{
        display:none;
        
    }
    .member-info{
        font-size:30px;
        width: 480px;
    }
    
}

@media(max-width:700px){
    .main-title {
        font-size: 120px;
        
    }

    .family-members-container{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
        gap: 120px;
        margin-left: 50px;
        margin-top: 30px;
    }
    .all-rights-text{
        display:none;
        
    }

}

@media(max-width:1024px){
    .main-title {
        font-size:90px;
        
    }

    .member-info{
        font-size:17px;
        
    }

    .member-infos{
        margin-left: 3px;
    }

    .family-members-container{
        width: 1024px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
        gap: 180px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .member-photo{
        width: 220px;
        height: 220px;
        border-radius: 10px;
        margin-left:40px;
    }
    .all-rights-text{
        display:none;
        
    }

    .family-member{
        display:flex;
        width: 180px;
        height: 100px;
        
    }
    
}