*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
    
}
header{
    padding-right: 130px;
    padding-top: 20px;
}

.parent-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Makes sure the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    z-index: -1; /* Ensures the background stays behind the content */
    background-color: rgb(155,201,158);
  }



nav {
    display: flex;
    gap:40px;
    align-items: right;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 19px;
    width: 100%;
    position: relative;
    right: -400px;
    
    
}

.nav-link{
    color: rgb(27,48,44);
    text-decoration: none;
    color:rgb(60,97,80);
}

ul{
    list-style: none;
}

.nav-link:hover {
    /* color: #007BFF; */
    /* text-decoration: underline; */
    background-color: rgb(155,201,158);
    padding: 0px;
    border-radius: 5px;
    /* transform: scale(1.1); */
}

.pictures-container{
    width: 50%;
    height: 100%;
    justify-content: flex-end;
    padding: 20px;
    
    
}

.profile-picture{
    width: 700px;
    border-radius: 20px;
}

.box1{
    width: 330px;  
    height: 150px;
    background-color: rgb(255,193,177); /* Tomato color */
    border-radius: 10px;
    color:rgb(60,97,80);
    font-size: 28px;
    padding:10px;
}

.box2{
    width: 330px;  
    height: 150px;
    background-color: rgb(184,211,213); /* Tomato color */
    border-radius: 10px;
    color:rgb(167,122,114);
    font-size: 28px;
    padding:10px;
}

.two-boxes{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.information-container{
    width: 50%;
    height: 100%;
}

.about-me-text{
    font-size: 150px;
    color:rgb(60,97,80);
}

.general-infos{
    font-size:30px;
    color:rgb(60,97,80);
    gap:30px;
    
}

.main-container{
    display: flex;
}

.photo-looklike{
    width: 33%;
    height: 300px;
    color:rgb(60,97,80);
    margin-top: 50px;
}

.img-looklike{
    width: 200px;
    height: 190px;
    border-radius: 5px;
    position: relative;
    bottom:-17px;
}

.img-looklike-text{
    font-size:20px;
}

.three-photos{
    display: flex;
}

.all-rights-text{
    font-size: 25px;
    color:rgb(60,97,80);
    position: relative;
    top:-45px;
    right:-530px;
}


  

@media (max-width: 340px) {

   
    .nav-links {
        font-size: 10px; 
     
        width: 140px;
        display: flex;
        position: relative;
        left:-1px;
    }

    .pictures-container {
        width: 100%;
        padding: 10px;
    }

    .profile-picture {
        width: 100%; 
        border-radius: 10px;
    }

    .box1, .box2 {
        width: 95%; 
        font-size: 20px; 
        padding-top:12px;
    }

    .two-boxes {
        display: block; 
        margin-top: 10px;
    }

    .about-me-text {
        font-size: 50px; 
    }

    .general-infos {
        font-size: 20px;
    }

    .main-container {
        display: block; 
    }

    .photo-looklike {
        width: 100%; 
        height: auto;
    }

    .three-photos {
        display: block; 
    }

    .all-rights-text {
        font-size: 18px; 
        text-align: center; 
        right: 0; 
        top: 0; 
    }
}

@media (max-width: 768px) {
    .about-me-text {
        font-size: 100px;
    }

    .nav-links {
        right: -100px; 
    }

    .profile-picture {
        width: 80%; 
    }

    .two-boxes {
        flex-direction: column; 
    }
}

/* Larger screens */
@media (min-width: 1024px) {
    body{
        height:1000px;
    }
    
    .nav-links {
        position: relative;
        right: -130px;
    }

    .about-me-text {
        font-size: 70px;
        width: 140px;
    }
    .general-infos{
        font-size:17px;
        color:rgb(60,97,80);
        gap:30px;
        width: 200px;
        
    }
    .img-looklike{
        width: 120px;
        height: 100px;
        border-radius: 5px;
        position: relative;
        bottom:-17px;
    }
    
    .img-looklike-text{
        font-size:13px;
    }
    
    .three-photos{
        display: flex;
    }

    .information-container{
        position:relative;
        right:-200px;
    }

}
